@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1551258712799'); /* IE9 */
  src: url('iconfont.eot?t=1551258712799#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKEAAsAAAAABjgAAAI6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXAE2AiQDCAsGAAQgBYRtBy4bgAUR1YtPsq8xGTKmzwCFCQFtvI+xt/v/4xA8tPTIgXSwBhQAAAAAEA//rn3el2T+zkIBQfVUEqKqRVCARlbIFarkmIWe/m/gBNpXzPH19tv2l6+khYRFXof6xSqynRiMfeuGqb9y7fVVt6uHqHz1BYABl9OfQA/SOqDc5hg8JmBgaaB7YBRZmSTeMHaBS3hMoMNI08WiYdUmtcJaFYhT7uh+dS6qKKxQC62ag0XcUanTrSRuh9+Pv2ZETVJlVsu6I4sPmfcDuyRfbC7u8gkxAjpeIWM6CrGpNrtGFozLOrLFWPbVGPyo4dvFXi2C/XVWfRcYDqX3JHPlt1qfQImne2LwqGtJ7dUZOjSb1CtvfvXMO++zuttt/U5u/N56/+QTzUDzMj/P61UgePzYa9Z1ZwGv3rYw3Lws+vmp9+AL/oSs51DRFZYtFVVW6096jlqZ0KEDDRzs68NY44DTFkNtwMn9bUakyGrjycJOR6XTTLTU5qLDNEuPd+rntCxKO6a6BhB6e4Kkp25kvT0lC/selYH+o6V3ZHTYEv0u7DQxDKdhnARXmP/glpLJcYiOGi9o3nHirCLkPZAPl4C2aoqFETPyHFuOj+lECIhLggE8hzEW2Lh4XKSyIltf11T3pmopSWkLGSfBFeY/uKVk8ieLLn3+guYdJ25pq4k/kA83O7RV04MctblX2728cnxMJ0JAXBIMYB7GWGCrn+dxkcqOSG99bY+jvtpqfX36gBLWhWVKYXuycucWpQA=') format('woff2'),
  url('iconfont.woff?t=1551258712799') format('woff'),
  url('iconfont.ttf?t=1551258712799') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1551258712799#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e60d";
}

